body {
    padding: 0;
    border: 0;
    margin: 0;
}

#logo {
    margin: 5px;
    padding: 0;
    font-size: xx-large;
    font-weight: bold;
    font-family: Arial, Lucida Grande, sans-serif;
    color: #47f;
}

#header {
    margin: 1px;
    padding: 10px 0 0 10px;
    background: #e6eaf0;
    line-height: 1.1em;
}

#navbar {
    display: block;
    margin: 0;
    padding: 0 10px;
    font-size: 0.82em;
}

#navbar a {
    display: inline;
    margin: 0 2px;
    padding: 2px 5px;
    border: 1px solid #acd;
    border-bottom: none;
    white-space: nowrap;
    background: white;
}

.content {
    margin: 10px;
}


